<h1>Editing dependency</h1>

<%= render "form", dependency: @dependency %>

<br>

<div>
  <%= link_to "Show this dependency", @dependency %> |
  <%= link_to "Back to dependencies", dependencies_path %>
</div>
