<section class="hero is-info is-medium">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <i class="fas fa-map-marker-alt fa-3x"></i>
          </a>
          <span class="navbar-burger" data-target="landingMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="landingMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              Reporte Ciudadano
            </a>
            <span class="navbar-item">
              <a class="button is-info is-inverted">
                <span class="icon">
                  <i class="fas fa-user"></i>
                </span>
                <span>Acceso</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container">
      <p class="title">
        Reporte Ciudadano
      </p>
      <p class="subtitle">
        Porque NUESTRA CIUDAD es responsabilidad de todos
      </p>
    </div>
  </div>
</section>
