<p>Hola <%= @resource.email %>!</p>
<p>Hemos recibido una solicitud para restaurar la contrase침a de tu cuenta. Para llevarlo acabo 
  es precio hacer click en el enlace de abajo.</p>
<p><%= link_to 'Restaurar mi contrase침a', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>En caso de que no hayas realizado esta solicitud, ignora este mensaje.</p>
<p>Tu contrase침a no cambiar치 hasta que hagas click en el enlace y establezcas una nueva.</p>
